.film-strip-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #1A1A1A;
  padding: 8px 0;
  display: flex;
}

.film-track {
  display: flex;
  gap: 8px;
  width: max-content;
  animation: scroll-infinite 60s linear infinite;
}

@keyframes scroll-infinite {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.film-item {
  height: 80px;
  aspect-ratio: 16 / 9;
  flex-shrink: 0;
  overflow: hidden;
  @include media-breakpoint-up(sm) {
    height: 120px;
  }
  @include media-breakpoint-up(md) {
    height: 160px;
  }
  @include media-breakpoint-up(lg) {
    height: 200px;
  }
}

.film-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.grayscale {
  filter: grayscale(100%);
  transition: filter 2.5s ease-in-out;
}

.ungrayscale {
  filter: grayscale(40%);
  transition: filter 2.5s ease-in-out;
}